<div class="logo"><a href="./index.html">WAS后台接口管理</a></div>
<div class="left_open">
    <i title="展开左侧栏" class="iconfont" onclick="showMenu()">&#xe699;</i>
</div>
<ul class="layui-nav right" lay-filter="">
    <li class="layui-nav-item">
        <a href="javascript:;" id="userName">admin</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
            <dd><a onclick="x_admin_show('个人信息','user-info.html')">个人信息</a></dd>
            <dd><a href="../login.html">切换帐号</a></dd>
            <dd><a href="#" onclick="loginOut()">退出</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item to-index"><a href="https://bita.io/" target="_blank">平台首頁</a></li>
</ul>
<!--<script type="text/javascript" src="../static/lib/layui/layui.js"></script>-->
<script type="text/javascript">
    $(function () {
        if (USER != null && USER != "") {
            $("#userName").html(USER.userName);
        } else {
            /*layer.msg('登陆已失效', {
                icon: 5,
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
            }, function(){
                window.location.href = "login.html";
            });*/
            window.location.href = URL + "login";
        }

    })

    function loginOut() {
        $.ajax({
            url: URL + "signOut",
            type: "get",
            dataType: "json",
            success: function (data) {
                console.log(data);
                if (data.code == 200) {
                    //清除cookie
                    clearCookie("SESSIONID");
                    clearCookie("USER");
                    clearCookie("AA");
                    window.location.href = URL + "login";
                } else if (data.code == 404) {
                    window.location.href = "404.html";
                } else if (data.code == 500) {
                    window.location.href = "500.html";
                } else {
                    layer.msg(data.msg, {icon: 5});
                    window.location.href = URL + "login";
                }
            }, error: function (jqXHR, textStatus, errorThrown) {
                var data = jqXHR.responseText;
                if (jqXHR.status == 404) {
                    top.location.href = "404.html";
                } else if (jqXHR.status == 500) {
                    top.location.href = "500.html";
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            }
        });
    }
</script>



