<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>平台提币管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- 公共css+js -->
    <script th:src="@{/js/common/base-css.js}"></script>
    <script th:src="@{/js/common/base-js.js}"></script>

</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb" lay-separator="-">
        <a href="">首页</a>
        <a href="">提币记录</a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row self-back">
        <form class="layui-form layui-col-md12 x-so form-sel" th:action="${url}">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">币种简称:</label>
                    <div class="layui-input-inline">
                        <select id="wasType" lay-filter="aihao" name="wasType">
                            <option value="" selected>全部</option>
                            <option  th:each="list:${currencyList}" th:value="${list.wasShortName}" th:text="${list.wasShortName }"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">业务系统:</label>
                    <div class="layui-input-inline">
                        <select id="wasSource" lay-filter="aihao" name="wasSource">
                            <option value="" selected>全部</option>
                            <option  th:each="list:${sourceList}" th:value="${list.wasSource}" th:text="${list.wasSource }"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">业务流水号:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="serialNumber" id="serialNumber" autocomplete="off" class="layui-input" placeholder="请输入业务流水号">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">提币时间:</label>
                    <input type="text" id="startTime" class="layui-input test-item" placeholder="请输入开始时间">-
                    <input type="text" id="endTime" class="layui-input test-item" placeholder="请输入结束时间">
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button type="button" class="layui-btn layui-btn-normal" onclick="queryInfo()">搜索</button>
                    </div>
                </div>
                <!--<span class="x-right" style="line-height:40px"><button class="layui-btn layui-btn-normal">导出</button></span>-->
            </div>
        </form>
    </div>
    <xblock>
        <button class="layui-btn" onclick="add(1)"><i class="layui-icon"></i>新增</button>
    </xblock>
    <table class="layui-table" id="demo" lay-filter="demo">

    </table>
</div>
<!--操作历史列表-->
<div style="display: none;" id="history">
    <table class="layui-table layui-form" id="childMenu">
        <thead>
        <tr>
            <th>执行事件</th>
            <th>操作时间</th>
            <th>操作人</th>
        </thead>
        <tbody class="x-cate" id="myHistory">

        </tbody>
    </table>
</div>

<script type="text/javascript" th:src="@{/js/common/base-code.js}"></script>
<script type="text/html" id="formatDate2">
    {{#
    var date = new Date();
    date.setTime(d.wasCreateTime);
    return dateFtt("yyyy-MM-dd hh:mm:ss",date);
    }}
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit" onclick="showDetails('{{d.wasId}}')">查看</a>
</script>
<script type="text/html" id="barDemo2">
    <a class="layui-btn layui-btn-xs" lay-event="edit" onclick="doAgain('{{d.status}}','{{d.wasId}}')">再次执行</a>
</script>
</body>

<script>

    var layer = "";
    layui.use(['layer'],function(){
        layer = layui.layer;
    });
    layui.use('laydate',function () {
        var laydate = layui.laydate;
        lay('.test-item').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });
    });

    $(function () {
        parent.layer.load(2,{shade:0.3});
        layui.use('table', function(){
            var table = layui.table;

            result= table.render({
                elem: '#demo'
                ,height: 515
                ,url: URL+"v1/payrecord/list" //数据接口
                ,request: {
                    pageName: 'pageNumber' //页码的参数名称，默认：page
                    ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                ,where:{
                    wasSource:$("#wasSource").val(),
                    wasType:$("#wasType").val(),
                    wasSerialNumber:$("#serialNumber").val(),
                    startTime:$("#startTime").val(),
                    endTime:$("#endTime").val()
                }
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'wasCreateTime', title: '提币申请时间', sort: true,templet:'#formatDate2',width:165}
                    ,{field: 'wasType', title: '币种全称', width:100}
                    ,{field: 'wasType', title: '币种简称', width:100}
                    ,{field: 'wasTxid', title: '交易hash', sort: true}
                    ,{field: 'wasAddress', title: '提币到账地址', sort: true}
                    ,{field: 'wasSource', title: '业务系统',sort: true}
                    ,{field: 'wasSerialNumber', title: '业务流水号',sort: true}
                    ,{field: 'totalCount', title: '手续费',sort:true,event:'totalCount'}
                    ,{field: 'status', title: '提币状态',sort:true,event:'surplusCount'}
                    ,{field: 'wasAmount', title: '提币数量', sort: true}
                    ,{field: 'wasWarnNum', title: '操作历史',toolbar:'#barDemo',align:'center'}
                    ,{field: 'repData', title: '操作',toolbar:'#barDemo2',align:'center'}
                ]]
                ,response: {
                    statusName: 'code' //数据状态的字段名称，默认：code
                    ,statusCode: 200 //成功的状态码，默认：0
                    ,msgName: 'hint' //状态信息的字段名称，默认：msg
                    ,countName: 'totalCount' //数据总数的字段名称，默认：count
                    ,dataName: 'data' //数据列表的字段名称，默认：data
                }
                ,done: function(res, curr, count){
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    console.log(res);

                    //得到当前页码
                    console.log(curr);

                    //得到数据总量
                    console.log(count);
                }
            });

        });
        parent.layer.closeAll("loading");
    })

    /**
     * 条件查询提币记录信息
     * */
    function queryInfo() {
        var startTime = $("#startTime").val();
        var endTime = $("#endTime").val();
        if (startTime == null || startTime == "") {
            if (endTime != null && endTime != "") {
                startTime = '1970-01-01';
            }
        } else {
            if (endTime == null || endTime == "") {
                endTime = new Date().toLocaleDateString();
            }
        }
        if (new Date(startTime).getTime() > new Date(endTime).getTime()) {
            layer.msg("结束时间不能小于开始时间",{icon: 5});
            return;
        }
        //第一个实例
        result.reload({
            where: { //设定异步数据接口的额外参数，任意设
                wasSource:$("#wasSource").val(),
                wasType:$("#wasType").val(),
                wasSerialNumber:$("#serialNumber").val(),
                startTime:startTime,
                endTime:endTime
            }
            ,page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

    /**
     * 再次执行请求
     * @param obj
     * @param wasId
     */
    function doAgain(obj,wasId) {
        obj = 2;
        layer.confirm('确认要再次执行吗？',function(index){
           if (index) {
               //obj 1.未收到hash的情况;2.请求发送失败的情况
               $.ajax({
                   type:"post",
                   url:URL+"v1/payrecord/doAgain",
                   dataType:"json",
                   data:{
                       wasId:wasId,
                       oType:obj
                   },success:function (data) {
                       if (data.code == 200) {
                           layer.msg("操作成功",{icon:6});
                       }
                   }
               })
           }
        });
    }

    function showDetails(wasId) {
        $.ajax({
            type:"post",
            url:URL+"v1/payrecord/findHistoryByWasId",
            dataType:"json",
            data:{
                wasId:wasId
            },success:function (data) {
                console.log(data);
                if (data.code == 200) {
                    //绑定数据
                    var html = "";
                    var ret = data.data;
                    if (ret != null && ret.length > 0) {
                        for (var i = 0; i < ret.length; i++) {
                            var date = new Date();
                            date.setTime(ret[i].wasCreateTime);
                            var cdate = dateFtt("yyyy-MM-dd hh:mm:ss",date);
                            html += '<tr><td>'
                                        +ret[i].wasAction+
                                    '</td><td>'
                                        +cdate+
                                    '</td><td>'
                                        +ret[i].wasCreateUser+
                                    '</td></tr>';
                        }
                    } else {
                        html = '<tr><td colspan="100" align="center">暂无操作记录</td></tr>';
                    }
                    $("#myHistory").html(html);
                    layer.open({
                        type:1,
                        title: '操作历史',
                        content: $("#history"),
                        area: ['400px', '500px']
                    });
                }
            }
        })
    }
</script>
</html>