<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>币种管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- 公共css+js -->
    <script th:src="@{/js/common/base-css.js}"></script>
    <script th:src="@{/js/common/base-js.js}"></script>

</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb" lay-separator="-">
        <a href="">首页</a>
        <a href="">基础配置</a>
        <a href="">币种管理</a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row self-back">
        <form class="layui-form layui-col-md12 x-so form-sel">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">币种简称:</label>
                    <div class="layui-input-inline">
                        <input type="text" id="was_short_name" class="layui-input" placeholder="请输入币种简称">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button type="button" class="layui-btn layui-btn-normal" onclick="queryInfo()">搜索</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <xblock>
        <button class="layui-btn" onclick="add(1)"><i class="layui-icon"></i>新增</button>
    </xblock>
    <table class="layui-table" id="demo" lay-filter="demo">

    </table>
</div>
<div id="addAddress" style="display: none;">
    <form class="layui-form" id="myForms">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>币种全称</label>
                <div class="layui-input-inline">
                    <input type="text" id="wasName" required="" lay-verify="pass"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>币种简称</label>
                <div class="layui-input-inline">
                    <input type="text" id="wasShortName" required="" lay-verify="pass"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </form>
</div>

<div id="updateAddress" style="display: none;">
    <form class="layui-form" id="myForm">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>币种全称</label>
                <div class="layui-input-inline">
                    <input type="text" id="uwasName" required="" lay-verify="pass"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="x-red">*</span>币种简称</label>
                <div class="layui-input-inline">
                    <input type="text" id="uwasShortName" required="" lay-verify="pass"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" th:src="@{/js/common/base-code.js}"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit" onclick="update('{{d.wasId}}')">编辑</a>
</script>
<script>
    var result = "";
    var layer = "";
    layui.use(['layer'],function(){
        layer = layui.layer;
    });

    $(function () {
        parent.layer.load(2,{shade:0.3});
        layui.use('table', function(){
            var table = layui.table;

            result= table.render({
                elem: '#demo'
                ,height: 515
                ,url: URL+"v1/syscurrency/list" //数据接口
                ,request: {
                    pageName: 'pageNumber' //页码的参数名称，默认：page
                    ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                ,where:{
                    wasShortName:$("#was_short_name").val()
                }
                ,page: true //开启分页
                ,cols: [[ //表头
                     {field: 'wasId', title: '币种ID', sort: true}
                    ,{field: 'wasName', title: '币种全称', sort: true}
                    ,{field: 'wasShortName', title: '币种简称',sort: true}
                    ,{field: 'repData', title: '操作',toolbar:'#barDemo',align:'center'}
                ]]
                ,response: {
                    statusName: 'code' //数据状态的字段名称，默认：code
                    ,statusCode: 200 //成功的状态码，默认：0
                    ,msgName: 'hint' //状态信息的字段名称，默认：msg
                    ,countName: 'totalCount' //数据总数的字段名称，默认：count
                    ,dataName: 'data' //数据列表的字段名称，默认：data
                }
                ,done: function(res, curr, count){
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    console.log(res);

                    //得到当前页码
                    console.log(curr);

                    //得到数据总量
                    console.log(count);
                }
            });

        });
        parent.layer.closeAll("loading");
    })

    /**
     * 条件查询币种信息
     * */
    function queryInfo() {
        //第一个实例
        result.reload({
            where: { //设定异步数据接口的额外参数，任意设
                wasShortName:$("#was_short_name").val()
            }
            ,page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

    /**
     * 添加币种
     */
    function add() {
        layer.open({
            type:1,
            title: '新增币种',
            content: $("#addAddress"),
            area: ['450px', '350px'],
            btn:['保存','取消'],
            yes: function (index,layero) {

                var wasName = $("#wasName").val();
                var wasShortName = $("#wasShortName").val();
                if (wasName == null || wasName == "" || wasName == undefined) {
                    layer.msg("请输入币种全称",{icon:2});
                    return;
                }
                if (wasShortName == null || wasShortName == "" || wasShortName == undefined) {
                    layer.msg("请输入币种简称",{icon:2});
                    return;
                }
                layer.load(2,{shade:0.3});
                $.ajax({
                    url:URL+"v1/syscurrency/save",
                    type:"get",
                    dataType:"json",
                    data:{
                        wasName:wasName,
                        wasShortName:wasShortName
                    },
                    success:function(data){
                        layer.closeAll("loading");
                        console.log(data);
                        if(data.code == 200) {
                            parent.layer.msg("添加成功",{icon:6,time:2000},function(){
                                location.reload();
                            });
                        } else if (data.code == 209){
                            parent.layer.msg(data.msg,{icon:2});
                            top.location.href = URL+"login";
                        } else {
                            parent.layer.msg(data.msg,{icon:2});
                        }

                    },error:function(jqXHR, textStatus, errorThrown) {
                        var data = jqXHR.responseText;
                        if(jqXHR.status == 404){
                            top.location.href = URL+"errorpage/404";
                        } else if(jqXHR.status == 500){
                            top.location.href = URL+"errorpage/500";
                        } else {
                            layer.msg(data.msg,{icon:2});
                        }
                    }
                });
            }
        });
    }

    function update(wasId) {

        //查询信息
        selectById(wasId);
        layer.open({
            type:1,
            title: '编辑币种',
            content: $("#updateAddress"),
            area: ['450px', '350px'],
            btn:['保存','取消'],
            yes: function (index,layero) {

                var wasName = $("#uwasName").val();
                var wasShortName = $("#uwasShortName").val();
                if (wasName == null || wasName == "" || wasName == undefined) {
                    layer.msg("请输入币种全称",{icon:2});
                    return;
                }
                if (wasShortName == null || wasShortName == "" || wasShortName == undefined) {
                    layer.msg("请输入币种简称",{icon:2});
                    return;
                }
                layer.load(2,{shade:0.3});
                $.ajax({
                    url:URL+"v1/syscurrency/update",
                    type:"get",
                    dataType:"json",
                    data:{
                        wasId:wasId,
                        wasName:wasName,
                        wasShortName:wasShortName
                    },
                    success:function(data){
                        layer.closeAll("loading");
                        console.log(data);
                        if(data.code == 200) {
                            parent.layer.msg("编辑成功",{icon:6,time:2000},function(){
                                location.reload();
                            });
                        } else if (data.code == 209){
                            parent.layer.msg(data.msg,{icon:2});
                            top.location.href = URL+"login";
                        } else {
                            parent.layer.msg(data.msg,{icon:2});
                        }

                    },error:function(jqXHR, textStatus, errorThrown) {
                        var data = jqXHR.responseText;
                        if(jqXHR.status == 404){
                            top.location.href = URL+"errorpage/404";
                        } else if(jqXHR.status == 500){
                            top.location.href = URL+"errorpage/500";
                        } else {
                            layer.msg(data.msg,{icon:2});
                        }
                    }
                });
            }
        });

    }

    function selectById(wasId) {
        $.ajax({
            url:URL+"v1/syscurrency/info/"+wasId,
            type:"get",
            dataType:"json",
            success:function(data){
                layer.closeAll("loading");
                console.log(data);
                if(data.code == 200) {
                    $("#uwasName").val(data.data.wasName);
                    $("#uwasShortName").val(data.data.wasShortName);
                } else if (data.code == 209){
                    parent.layer.msg(data.msg,{icon:2});
                    top.location.href = URL+"login";
                } else {
                    parent.layer.msg(data.msg,{icon:2});
                }

            },error:function(jqXHR, textStatus, errorThrown) {
                var data = jqXHR.responseText;
                if(jqXHR.status == 404){
                    top.location.href = URL+"errorpage/404";
                } else if(jqXHR.status == 500){
                    top.location.href = URL+"errorpage/500";
                } else {
                    layer.msg(data.msg,{icon:2});
                }
            }
        });
    }
</script>
</body>

</html>