<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>地址池详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- 公共css+js -->
    <script th:src="@{/js/common/base-css.js}"></script>
    <script th:src="@{/js/common/base-js.js}"></script>

</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb" lay-separator="-">
        <a href="">首页</a>
        <a href="">地址池详情</a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row self-back">
        <form class="layui-form layui-col-md12 x-so form-sel" th:action="${url}">
            <a class="layui-btn layui-btn-small" style="margin-right:10px;margin-left: -50px;background-color: #1E9FFF;" href="javascript:location.replace('/address-pool.html');">返回</a>
            <input type="text" name="wasId" id="wasId"  placeholder="请输入货币ID" autocomplete="off" class="layui-input">
            <input type="text" name="wasAddress" id="wasAddress"  placeholder="请输入区块链地址" autocomplete="off" class="layui-input">
            <button type="button" class="layui-btn layui-btn-normal" onclick="queryInfo()">搜索</button>
            <span class="x-right" style="line-height:40px"><button class="layui-btn layui-btn-normal">导出</button></span>
        </form>
    </div>
    <table class="layui-table" id="demo" lay-filter="demo">

    </table>
</div>

<script type="text/javascript" th:src="@{/js/common/base-code.js}"></script>

<!--状态处理-->
<script type="text/html" id="trigger">
    {{#  if(d.trigger == true){ }}
    <span style="color: red">报警中...</span>
    {{# } else if(d.wasStatus == false){ }}
    <span style="color: green">正常中...</span>
    {{#  } }}
</script>
<script type="text/html" id="indexTpl">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script type="text/html" id="formatDate">
    {{#
    var date = new Date();
    date.setTime(d.wasCreateTime);
    return dateFtt("yyyy-MM-dd hh:mm:ss",date);
    }}
</script>
<script type="text/html" id="formatDate2">
    {{#
    var date = new Date();
    date.setTime(d.expireTime);
    return dateFtt("yyyy-MM-dd hh:mm:ss",date);
    }}
</script>
<script>
    var wasSource = "";
    var wasExpireTime = "";
    var wasType = "";
    var layer = "";
    var identify = "";
    layui.use(['layer'],function(){
        layer = layui.layer;
    });

    $(function () {

        wasType = getRequest().wasType;
        wasSource = getRequest().wasSource;
        wasExpireTime = getRequest().wasExpireTime;
        identify = getRequest().identify;
        if (identify == undefined) {
            identify = "1";
        }
        parent.layer.load(2,{shade:0.3});
        layui.use('table', function(){
            var table = layui.table;

            result= table.render({
                elem: '#demo'
                ,height: 515
                ,url: URL+"v1/wasaddresslist/getDetails" //数据接口
                ,request: {
                    pageName: 'pageNumber' //页码的参数名称，默认：page
                    ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                ,where:{
                    wasId:$("#wasId").val(),
                    wasAddress:$("#wasAddress").val(),
                    wasType:wasType,
                    wasSource:wasSource,
                    wasExpireTime:wasExpireTime,
                    identify:identify
                }
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', width:50, sort: true, fixed: 'left',templet:'#indexTpl'}
                    ,{field: 'wasType', title: '币种类型', sort: true}
                    ,{field: 'wasSource', title: '对应业务系统',sort: true}
                    ,{field: 'wasAddress', title: '区块链地址',sort: true}
                    ,{field: 'wasExpireTime', title: '地址有效期',sort: true}
                    ,{field: 'wasCreateTime', title: '获取时间',sort:true,templet:'#formatDate',width:170}
                    ,{field: 'expireTime', title: '到期时间',sort:true,templet:'#formatDate2',width:170}
                    ,{field: 'rate', title: '币种数量', sort: true}
                    ,{field: 'status', title: '状态',sort: true}
                    ,{field: 'wasRemark', title: '备注',width:200}
                    ,{field: 'wasSpare', title: '备用标签'}
                ]]
                ,response: {
                    statusName: 'code' //数据状态的字段名称，默认：code
                    ,statusCode: 200 //成功的状态码，默认：0
                    ,msgName: 'hint' //状态信息的字段名称，默认：msg
                    ,countName: 'totalCount' //数据总数的字段名称，默认：count
                    ,dataName: 'data' //数据列表的字段名称，默认：data
                }
                ,done: function(res, curr, count){
                    //如果是异步请求数据方式，res即为你接口返回的信息。
                    //如果是直接赋值的方式，res即为：{data: [], count: 99} data为当前页数据、count为数据总长度
                    console.log(res);
                    if (res.code != 200) {
                        layer.msg(res.msg,{icon:2});
                    }
                    //得到当前页码
                    console.log(curr);

                    //得到数据总量
                    console.log(count);
                }
            });

        });
        parent.layer.closeAll("loading");
    })

    /**
     * 条件查询币种信息
     * */
    function queryInfo() {
        wasId = $("#wasId").val();
        wasType = $("#wasType").val();
        //第一个实例
        result.reload({
            where: { //设定异步数据接口的额外参数，任意设
                wasId:$("#wasId").val(),
                wasAddress:$("#wasAddress").val(),
                wasType:wasType,
                wasSource:wasSource,
                wasExpireTime:wasExpireTime,
                identify:identify
            }
            ,page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

    /**
     * 一键禁用/启用
     */
    function disabledAll() {
        var obj = "0";
        layer.confirm('确认要禁用吗？',function(index){
            if (index) {
                $.ajax({
                    url: URL + "generator/wasdatadictionary/disabledAll",
                    type: "get",
                    dataType: "json",
                    data: {
                        way: way
                    }, success: function (data) {
                        console.log(data);
                        if (data.code == 200) {
                            var type = "";
                            if (obj == 0) {
                                type = "禁用成功";
                            } else {
                                type = "启用成功";
                            }
                            layer.msg(type + ",请刷新列表查看", {icon: 6, time: 2000}, function () {
                                location.reload();
                            });
                        } else if (data.code == 209) {
                            layer.msg(data.msg, {icon: 2});
                            top.location.href = URL + "login";
                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    }, error: function (jqXHR, textStatus, errorThrown) {
                        var data = jqXHR.responseText;
                        if (jqXHR.status == 404) {
                            top.location.href = "404.html";
                        } else if (jqXHR.status == 500) {
                            top.location.href = "500.html";
                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    }
                });
            }
        })
    }

    function getNewBlock(wasType) {
        $.ajax({
            url:URL+"generator/wasdatadictionary/getNewHeight",
            type:"get",
            data:{
                wasType:wasType
            },
            success:function(data){
                layer.closeAll("loading");
                console.log(data);
                layer.msg(data.data.msg+"区块高度为:"+data.data.blockNumber);
                queryInfo();
            },error: function (jqXHR, textStatus, errorThrown) {
                layer.closeAll("loading");
            }
        });
    }
</script>
</body>

</html>