<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fq.modules.was.web.mapper.basic.SysCurrencyMapper">

    <!-- 返回结果集 -->
    <resultMap type="com.fq.modules.was.web.entity.basic.SysCurrency" id="sysCurrencyResultMap">
        <result property="wasId" column="was_id"/>
        <result property="wasName" column="was_name"/>
        <result property="wasShortName" column="was_short_name"/>
        <result property="wasCreateTime" column="was_create_time"/>
        <result property="wasUpdateTime" column="was_update_time"/>
    </resultMap>

    <!--所有的查询字段,各自对应   返回Map-->
    <sql id="sql_for_all_map">
        was_id wasId,
        was_name wasName,
        was_short_name wasShortName,
        was_create_time wasCreateTime,
        was_update_time wasUpdateTime
    </sql>

    <!--所有的查询字段,各自对应   返回对象-->
    <sql id="sql_for_all">
        was_id,
        was_name,
        was_short_name,
        was_create_time,
        was_update_time
    </sql>

    <!-- 保存需要的字段 -->
    <sql id="sql_for_all_except_p">
        was_name,
        was_short_name,
        was_create_time,
        was_update_time
    </sql>

    <!-- 分页信息 -->
    <sql id="limited">
        <if test="pages.pageNumber != null and pages.pageSize != null">
            limit #{pages.pageNumber}, #{pages.pageSize}
        </if>
    </sql>

    <!--新增信息-->
    <insert id="addSysCurrency" parameterType="com.fq.modules.was.web.entity.basic.SysCurrency" useGeneratedKeys="true"
            keyProperty="wasId">
        insert into was_sys_currency(
        <include refid="sql_for_all_except_p"/>
        )values (
        #{wasName},
        #{wasShortName},
        #{wasCreateTime},
        #{wasUpdateTime}
        )
    </insert>

    <!--修改信息-->
    <update id="optUpdateSysCurrency" parameterType="com.fq.modules.was.web.entity.basic.SysCurrency">
        update was_sys_currency
        <trim prefix="set" suffixOverrides=",">
            <if test="wasName != null and wasName != ''">was_name = #{wasName},</if>
            <if test="wasShortName != null and wasShortName != ''">was_short_name = #{wasShortName},</if>
            <if test="wasCreateTime != null and wasCreateTime != ''">was_create_time = #{wasCreateTime},</if>
            <if test="wasUpdateTime != null and wasUpdateTime != ''">was_update_time = #{wasUpdateTime},</if>
        </trim>
        where was_id = #{wasId}
    </update>

    <!--删除信息-->
    <delete id="deleteSysCurrency" parameterType="java.lang.Long">
        delete from was_sys_currency where was_id = #{wasId}
    </delete>

    <!--根据主键查询单条信息-->
    <select id="selectById" parameterType="Integer" resultMap="sysCurrencyResultMap">
        select
        <include refid="sql_for_all"/>
        from was_sys_currency where was_id = #{wasId}
    </select>

    <!-- 分页查询信息 列表-->
    <select id="pageQueryList" parameterType="java.util.Map" resultType="java.util.Map">
        select
        <include refid="sql_for_all_map"/>
        from was_sys_currency
        where 1=1
        <if test="bean.wasId != null and bean.wasId.trim() != ''">
            and was_id = #{bean.wasId}
        </if>
        <if test="bean.wasName != null and bean.wasName.trim() != ''">
            and was_name = #{bean.wasName}
        </if>
        <if test="bean.wasShortName != null and bean.wasShortName.trim() != ''">
            and was_short_name = #{bean.wasShortName}
        </if>
        <if test="bean.wasCreateTime != null and bean.wasCreateTime.trim() != ''">
            and was_create_time = #{bean.wasCreateTime}
        </if>
        <if test="bean.wasUpdateTime != null and bean.wasUpdateTime.trim() != ''">
            and was_update_time = #{bean.wasUpdateTime}
        </if>
        order by was_id asc
        <include refid="limited"/>
    </select>
    <!-- 总数 -->
    <select id="pageQueryCount" parameterType="java.util.Map" resultType="java.lang.Long">
        select count(1) from was_sys_currency where 1=1
        <if test="bean.wasId != null and bean.wasId.trim() != ''">
            and was_id = #{bean.wasId}
        </if>
        <if test="bean.wasName != null and bean.wasName.trim() != ''">
            and was_name = #{bean.wasName}
        </if>
        <if test="bean.wasShortName != null and bean.wasShortName.trim() != ''">
            and was_short_name = #{bean.wasShortName}
        </if>
        <if test="bean.wasCreateTime != null and bean.wasCreateTime.trim() != ''">
            and was_create_time = #{bean.wasCreateTime}
        </if>
        <if test="bean.wasUpdateTime != null and bean.wasUpdateTime.trim() != ''">
            and was_update_time = #{bean.wasUpdateTime}
        </if>
    </select>

    <!--根据币种简称查询-->
    <select id="selectByWasShortName" parameterType="java.lang.String" resultMap="sysCurrencyResultMap">
        select
        <include refid="sql_for_all"/>
        from was_sys_currency
        where 1=1 AND was_short_name = #{bean.wasShortName}
    </select>
    <!-- 查询所有币种 -->
    <select id="findAll" resultMap="sysCurrencyResultMap">
        select
        <include refid="sql_for_all"/>
        from was_sys_currency
    </select>
</mapper>