<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fq.modules.was.web.mapper.basic.SysSourceMapper">

    <!-- 返回结果集 -->
    <resultMap type="com.fq.modules.was.web.entity.basic.SysSource" id="sysSourceResultMap">
        <result property="wasId" column="was_id"/>
        <result property="wasSource" column="was_source"/>
        <result property="wasUrl" column="was_url"/>
        <result property="wasCreateTime" column="was_create_time"/>
        <result property="wasUpdateTime" column="was_update_time"/>
    </resultMap>

    <!--所有的查询字段,各自对应    map-->
    <sql id="sql_for_all_map">
        was_id wasId,
        was_source wasSource,
        was_url wasUrl,
        was_create_time wasCreateTime,
        was_update_time wasUpdateTime
    </sql>

    <!--所有的查询字段,各自对应 -->
    <sql id="sql_for_all">
        was_id,
        was_source,
        was_url,
        was_create_time,
        was_update_time
    </sql>

    <!-- 保存需要的字段 -->
    <sql id="sql_for_all_except_p">
        was_source,
        was_url,
        was_create_time,
        was_update_time
    </sql>

    <!-- 分页信息 -->
    <sql id="limited">
        <if test="pages.pageNumber != null and pages.pageSize != null">
            limit #{pages.pageNumber}, #{pages.pageSize}
        </if>
    </sql>

    <!--新增信息-->
    <insert id="addSysSource" parameterType="com.fq.modules.was.web.entity.basic.SysSource" useGeneratedKeys="true" keyProperty="wasId">
        insert into was_sys_source(
        <include refid="sql_for_all_except_p"/>
        )values (
            #{wasSource},
            #{wasUrl},
            #{wasCreateTime},
            #{wasUpdateTime}
        )
    </insert>

    <!--修改信息-->
    <update id="optUpdateSysSource" parameterType="com.fq.modules.was.web.entity.basic.SysSource">
        update was_sys_source
        <trim prefix="set" suffixOverrides=",">
            <if test="wasSource != null and wasSource != ''">was_source = #{wasSource},</if>
            <if test="wasUrl != null and wasUrl != ''">was_url = #{wasUrl},</if>
            <if test="wasCreateTime != null and wasCreateTime != ''">was_create_time = #{wasCreateTime},</if>
            <if test="wasUpdateTime != null and wasUpdateTime != ''">was_update_time = #{wasUpdateTime}</if>
        </trim>
        where was_id = #{wasId}
    </update>

    <!--删除信息-->
    <delete id="deleteSysSource" parameterType="java.lang.Long">
        delete from was_sys_source where was_id = #{wasId}
    </delete>

    <!--根据主键查询单条信息-->
    <select id="selectById" parameterType="Integer" resultMap="sysSourceResultMap">
        select
          <include refid="sql_for_all"/>
        from was_sys_source where was_id = #{wasId}
    </select>

    <!-- 分页查询信息 列表-->
    <select id="pageQueryList" parameterType="java.util.Map" resultMap="sysSourceResultMap">
        select
          <include refid="sql_for_all"/>
        from was_sys_source
        where 1=1
        <if test="bean.wasId != null and bean.wasId.trim() != ''">
            and was_id = #{bean.wasId}
        </if>
        <if test="bean.wasSource != null and bean.wasSource.trim() != ''">
            and was_source = #{bean.wasSource}
        </if>
        <if test="bean.wasUrl != null and bean.wasUrl.trim() != ''">
            and was_url = #{bean.wasUrl}
        </if>
        <if test="bean.wasCreateTime != null and bean.wasCreateTime.trim() != ''">
            and was_create_time = #{bean.wasCreateTime}
        </if>
        <if test="bean.wasUpdateTime != null and bean.wasUpdateTime.trim() != ''">
            and was_update_time = #{bean.wasUpdateTime}
        </if>
        order by was_id desc
        <include refid="limited"/>
    </select>
    <!-- 总数 -->
    <select id="pageQueryCount" parameterType="java.util.Map" resultType="java.lang.Long">
        select count(1) from was_sys_source where 1=1
        <if test="bean.wasId != null and bean.wasId.trim() != ''">
            and was_id = #{bean.wasId}
        </if>
        <if test="bean.wasSource != null and bean.wasSource.trim() != ''">
            and was_source = #{bean.wasSource}
        </if>
        <if test="bean.wasUrl != null and bean.wasUrl.trim() != ''">
            and was_url = #{bean.wasUrl}
        </if>
        <if test="bean.wasCreateTime != null and bean.wasCreateTime.trim() != ''">
            and was_create_time = #{bean.wasCreateTime}
        </if>
        <if test="bean.wasUpdateTime != null and bean.wasUpdateTime.trim() != ''">
            and was_update_time = #{bean.wasUpdateTime}
        </if>
            </select>

    <!--根据平台名称查询-->
    <select id="selectByWasSource" parameterType="java.lang.String" resultMap="sysSourceResultMap">
        select
        <include refid="sql_for_all"/>
        from was_sys_source
        where 1=1 AND was_source = #{wasSource}
    </select>

    <!--查询所有平台-->
    <select id="findAll" resultMap="sysSourceResultMap">
        select <include refid="sql_for_all"/>
        from was_sys_source
        where 1=1
    </select>
</mapper>